<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.atguigu.controller" />

    <mvc:annotation-driven />

    <mvc:default-servlet-handler />



    <!-- 文件上传处理器,可处理 multipart/* 请求并将其转换为 MultipartFile 对象
         id 必须叫multipartResolver
         作用： 前端 -》 file的字节输入流 -》 multipartResolver（解析commons-fileupload） -》 handler(MultipartFile file) -> file 对象
    -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
    </bean>

</beans>