<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.atguigu.controller,com.atguigu.service,com.atguigu.exceptionhandlers" />

    <mvc:annotation-driven />

    <mvc:default-servlet-handler />

    <mvc:interceptors>
        <!-- 方式1：拦截[所有]经过springmvc处理的请求-->
<!--        <bean class="com.atguigu.interceptors.UserInterceptor" />-->

        <!-- 方法2：拦截指定路径-->
        <mvc:interceptor>
            <!-- 方式2： 指定的拦截地址
                 /user/a
                 mvc:mapping path="/user/a"  注意： 地址是项目下的地址  /
                 多个 mvc:mapping写多边
                 支持模糊路径配置
                 /user/*
                 /user/**

                方式3：进行排除
                 mvc:exclude-mapping path="/user/a"
            -->
            <mvc:mapping path="/user/**"/>
<!--            <mvc:exclude-mapping path="/user/a"/>-->
            <!-- 哪个拦截器 -->
            <bean class="com.atguigu.interceptors.UserInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.atguigu.interceptors.MyInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>